/*All*/
*{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  display: block;
}

body{
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: .814rem;
  line-height: 1.4em;
  background: #0A0C1B;
}

h1, h2{
  font-weight: bold;
}

/*style*/
main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 850px;
  margin: 100px auto;
  background: #1C1938;
  border-radius: 5px;
}

.container-conteudo{
  max-width: 300px;
  margin: 50px auto;
}

.conteudo-1 p{
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 20px;
}

.titulo-principal{
  color: #fff;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.4em;
}

.titulo-principal span{
  color: #9657C0;
}

.conteudo-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.titulo-2{
  font-size: 1.2rem;
  line-height: 1.6em;
}

.conteudo-2 p{
  font-family: "Lexend Deca";
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.6);
}

.img{
  background: #9657C0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.img img{
  mix-blend-mode: multiply;
  min-height: 100%;
}

.attribution { 
  margin-bottom: 10px;
  font-size: .7rem; 
  text-align: center; 
}

.attribution a { 
  font-weight: bold;
  text-decoration: none;
  color: #9657C0; 
  transition: 230ms;
}

.attribution a:hover{
  padding: 4px;
  border-radius: 5px;
  background: #9657C0;
  color: #fff;
}

/*responsive*/
@media (max-width:739px) {
  main{
    max-width: 300px;
    grid-template-columns: 1fr;
    margin: 50px auto;
  }

  .container-conteudo{
    max-width: 230px;
    margin: 40px auto;
    text-align: center;
    grid-row: 2;
  }

  .titulo-principal{
    font-size: 1.5rem;
    line-height: 1.2em;
  }

  .conteudo-2{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  .titulo-2{
    margin-top: 20px;
    line-height: 1.2em;
  }

  .img{
    grid-row: 1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
  }
}




